<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Assnouncer Stats{% block extra_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% block extra_body_start %}{% endblock %}

    <nav>
        <a href="/ui">[Home]</a>
        <a href="/ui/all">[All time]</a>
        <a href="/ui/blast">[Blast from the Past]<a>
    </nav>

    {% block content %}{% endblock %}

    {% block extra_body_end %}{% endblock %}

    <link rel="stylesheet" href="static/stats.css">
</body>

</html>